.main-container2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 1440px;
  padding-top: 36px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 1);
}
.main-header-container {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  padding-right: 230px;
  padding-left: 130px;
}
.desor-orientation {
  flex: 0 0 auto;
  font: 400 18px Montserrat;
  color: rgba(0, 0, 0, 1);
}
.navigation-links {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
}
