@import "../../styles/mixins";
@import "../../styles/colors";

.main{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: $mainBackgroundColor;
}

.main_container{
  position: relative;
  height: 808px;
  width: 1440px;
  background-color: $mainBackgroundColor;
}

.main_container_position{
  padding-top: 100px;
  padding-left: 130px;
  display: flex;
  justify-content: space-between;
}

.startMessage_container{
  position: absolute;
  bottom: 130px;
  right: 130px;
}

.chatWindow_container{
  position: absolute;
  bottom: 50px;
  right: 140px;
}

.botIcon_container{
  position: absolute;
  bottom: 20px;
  right: 50px;
}

.main_container__info{
  margin-top: 20px;
}

.info_greetings{
  @include textUbuntu(64px, 700, #000000);
  text-transform: uppercase;
}

.info_li{
  @include textMontserrat(18px, 400, #000000);
}

.info_li_client{
  width: 490px;
}

.main_image_container{
  margin-right: 88.53px;
  width: 588.467px;
  height: 452.667px;
}

.chatWindow_container_mobile{
  display: none;
}

.botIcon_container_mobile{
  display: none;
}

@media screen and (max-width: 390px) {
  .main_container{
    position: relative;
    height: 670px;
    width: 390px;
    background-color: #DEDEDE;
    padding-top: 20px;
    padding-left: 20px;
    flex-direction: column;
    justify-content: normal;
  }

  .main_container__info{
    margin-top: 20px;
  }

  .info_greetings{
    @include textUbuntu(28px, 700, #000000);
    text-transform: uppercase;
  }

  .main_image_container{
    margin-top: 4px;
    margin-right: 28.77px;
    width: 332.802px;
    height: 256.001px;
  }

  .info_li{
    @include textMontserrat(18px, 400, #000000);
  }

  .info_ul{
    margin-top: 20px;
  }

  .info_li_client{
    width: 300px;
  }

  .burger{
    position: absolute;
    top: 0;
    left: 0;
  }

  .chatWindow_container{
    display: none;
  }

  .botIcon_container{
    display: none;
  }

  .botIcon_container_mobile{
    display: flex;
    position: absolute;
    bottom: 50px;
    right: 50px;
  }
}