@import "../../styles/mixins";
@import "../../styles/colors";

.startChatButton{
  z-index: 1;
  padding: 20px 30px;
  border: 2px solid #323843;
  background-color: $startChatButtonBackgroundColor;
  border-radius: 46px;
  box-shadow: 2px 2px 0 0 #323843;
  @include textMontserrat(20px, 600, #323843);
  line-height: 120%;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.startChatButton:hover{
  background-color: #E7CFFF;
}


.startChatButton:active{
  box-shadow: none;
  margin-left: 2px;
  margin-top: 2px;
}
