.arrow_img{
  width: 40px;
  height: 40px;
}

.arrow_position{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  border-radius: 32px;
  background-color: #323843;
  cursor: pointer;
}