.chat-helper1 {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.chat-assistant-title {
  flex: 0 0 auto;
  font: 700 64px Ubuntu;
  color: rgba(0, 0, 0, 1);
  text-align: left;
  text-transform: uppercase;
}
.chat-assistant {
  flex: 0 0 auto;
  margin-top: 18px;
  font: 700 64px Ubuntu;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}
