@import "../../styles/mixins";
@import "../../styles/colors";

.startMessage_container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 525px;
  height: 90px;
  border-radius: 35px 35px 0 35px;
  background-color: $startMessageBackgroundColor;
  margin-right: 80px;
}

.startMessage_position{
  padding: 20px 30px;
}

.startMessage_title{
  @include textMontserrat(18px, 400, #000000)
}