@import "../../styles/mixins";
@import "../../styles/colors";

.bot{
  width: 595px;
  height: 742px;
  position: relative;
}

.startMessage_container{
  position: absolute;
  bottom: 80px;
  right: 80px;
}

.chatWindow_container{
  position: absolute;
  bottom: 0;
  right: 90px;
}

.botIcon_container_desktop{
  position: absolute;
  right: 0;
  bottom: 0;
}

.botIcon_container_mobile{
  display: none;
}


@media screen and (max-width: 390px) {

}