$footerBackgroundColor: #323843;
$mainBackgroundColor: #FFFFFF;
$chatBaBackgroundColor: #F1F1FA;
$startMessageBackgroundColor: #E4FF95;
$messageBackgroundColor: #EAD4FF;
$advantagesBackgroundColor: #F1F1FA;
$experienceBackgroundColor: #FFFFFF;
$roadBackgroundColor: #F1F1FA;
$startChatButtonBackgroundColor: #D2AEF6;
$helpBackgroundColor: #FFFFFF;
$callBackgroundColor: #EAD4FF;
$aboveFooterBackgroundColor: #F1F1FA;