@import "./colors";

@mixin textMontserrat($size, $weight, $color){
  color: $color;
  font-family: 'Montserrat', sans-serif;
  font-size: $size;
  font-style: normal;
  font-weight: $weight;
  line-height: normal;
}

@mixin textUbuntu($size, $weight, $color){
  color: $color;
  font-family: 'Ubuntu', sans-serif;
  font-size: $size;
  font-style: normal;
  font-weight: $weight;
  line-height: normal;
}

@mixin linkReset(){
  text-decoration: none;
  cursor: pointer;
}


@mixin inputInForm($width){
  padding: 20px 30px;
  border-radius: 9.97px;
  background: #FFFFFF;
  border: none;
  width: $width;
  @include textMontserrat(16px, 400, #B2B2B2);
  margin-bottom: 15px;
  outline:none;
}