.main-container {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 63px 131px 56px 130px;
  margin-top: 50px;
  background: rgba(0, 0, 0, 1);
}
.main-container1 {
  box-sizing: border-box;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 984px;
}
.privacy-policy-title {
  flex: 0 0 auto;
  margin-top: 56px;
  font: 400 16px Montserrat;
  color: rgba(255, 255, 255, 1);
}
.career-section {
  flex: 0 0 auto;
  padding-top: 13px;
  padding-bottom: 164px;
  margin-left: 64px;
}
.services-title {
  font: 400 16px Montserrat;
  color: rgba(255, 255, 255, 1);
}
